./*/.git*
*-unit-test/
*-war-machine*/
.DS*
*.o
*.a
a.out
*.txt
gnlTester
born2beroot/
so_long/so_long
so_long/sprites/*.png
*.xcf
pipex/pipex
push_swap/push_swap
push_swap/checker
philo/philo
philo/philo_bonus
minishell/minishell
./cppModules/module00/ex02/19920104_091532.log
./cppModules/module09/ex00/data.csv
cube3D/cube3D
cube3D/cube3D_bonus
