[submodule "cube3D/MLX42"]
	path = cube3D/MLX42
	url = https://github.com/codam-coding-college/MLX42.git
[submodule "webserv"]
	path = webserv
	url = git@github.com:apena-ba/webserv.git
[submodule "ft_transcendence"]
	path = ft_transcendence
	url = git@github.com:emilefournout/ft_transcendence.git
